*{
	margin: 0;
	padding: 0;
	font-family: "Lucida Console", Courier, monospace;;
	box-sizing: border-box;
    background-color: #FFFAF0;
    color: #2f4f4f;
}

h1 {
    text-align: center;
    margin: 100px 0;
    font-size: 48px;
    font-weight: 800;
}

h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
    font-size: 64px;
    font-weight: 800;
    padding: 10px;
}

 .links a {
    display: inline-block;
	text-decoration: none;
	color: #2f4f4f;
	border:1px solid #2f4f4f;
	padding: 13px 34px;
	font-size: 13px;
	position: relative;
	cursor: pointer;
    margin-left: 150px;	
 }

 